.sidenav {
  width: 250px;
  transition: width 0.3s ease-in-out;
  height: 100vh;
  background-color: #2f2f4b;
  padding-top: 30px;
  -webkit-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -ms-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
}

.sidenavClosed {
  composes: sidenav;
  transition: width 0.3s ease-in-out;
  width: 70px;
  -webkit-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -ms-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
}

.sideitem {
  display: flex;
  align-items: center;
  padding: 20px 20px;
  cursor: pointer;
  color: #b2bac2;
  text-decoration: none;
}

.linkText {
  padding-left: 18px;
}

.linkTextClosed {
  composes: linkText;
  visibility: hidden;
}

.sideitem:hover {
  background-color: #244f7d1c;
}

.menuBtn {
  align-self: center;
  align-self: flex-start;
  justify-self: flex-end;
  color: #b2bac2;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-left: 20px;
}
