.btn{

    border-radius: 50px;
    background: linear-gradient(to right, #59f9b7, #66feea);
    padding: 13px 30px;
    border-radius: 50px;
    font-size: 0.95rem;
}

.btn a{
    color: black;
    font-weight: bold;
    text-decoration: none;
    
}

.btn a:hover{
    color: black;
    text-shadow: #7b8889 2px 2px 10px;
}