.form-input input,
.form-input textarea,
.form-input select {
  width: 100%;
  padding: 7px 25px;
  color: #fff;
  font-size: 0.8rem;
  background: transparent;
  border: 3px solid rgba(221, 221, 221, 0.171);
  outline: nonea;
  border-radius: 5px;
  cursor: pointer;
}

.form-input {
  margin-bottom: 15px;
}

.form-input label {
  color: #fff;
  margin-bottom: 10px;
}

select option {
  margin: 40px;
  background: black;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.form-input .upload-input {
  padding: 40px 25px;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

.create-collection-button {
  padding: 13px 40px !important;
  border-radius: 50px !important;
}

.create-collection-button {
  background: linear-gradient(to right, #59f9b7, #66feea);
}

.create-collection-button a {
  text-decoration: none;
  color: black !important;
  font-weight: 650;
  font-size: 1rem;
}

.create-collection-button a:hover {
  color: rgb(103, 38, 38);
  text-shadow: black 2px 2px 20px;
}

.btn {
  color: black !important;
}

.btn:hover {
  color: white !important;
}
