h1 {
  font-weight: bold !important;
  line-height: 1.5 !important;
  font-size: 3rem !important;
}

.h1-mid {
  color: #9c2c77;
}

.seller-row {
  margin-top: 50px !important;
}

.heading {
  padding: 5% 15% 0 !important;
  text-align: center;
}

.profit {
  padding: 5% 15% 0 !important;
  text-align: center;
}
