.header {
  height: 90px;
  line-height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  /* z-index: 22222; */
  background-color: #14141f !important;
}

.nav_list {
  column-gap: 2.7rem;
}

.active {
  color: #e250e5 !important;
}

.navigation {
  border-bottom: 2px solid #2f2f4b !important;
}

.nav_item a {
  text-decoration: none;
  color: #fff;
}

.nav_item a:hover {
  color: #fff;
}

.nav_right .btn {
  border-radius: 50px;
  background: linear-gradient(to right, #59f9b7, #66feea);
  padding: 13px 30px;
  border-radius: 50px;
  font-size: 0.95rem;
}

.nav_right .btn a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.nav_right .btn a:hover {
  color: black;
  text-shadow: #7b8889 2px 2px 10px;
}

.mobile_menu {
  color: #fff;
  font-size: 1.3rem;
  display: none;
}
/* 
@media only screen and (max-width:768px){
    .nav_menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* background: linear-gradient(#14141f83, #14141f83); */
/* z-index: 111111; */
/* }

    .nav_list{
        position: absolute;
        top: 0;
        right: 0;
        width: 250px;
        height: 100%;
        background: #343433;
        z-index: 5555555;
        flex-direction: column;
        padding-top: 40px;

    }

    .mobile_menu{
        display: block;
    } */
/* } */

.custom-width {
  max-width: 200px !important;
}

.wallet-address:hover {
  color: brown;
}
.custom-width:hover {
  transform: scale(1.1);
}
