.snft-icon {
  border: 4px solid #e250e5;
}

.snft-name {
  color: white;
}

.scollection-name {
  color: #59f9b7;
}

.sowner-name,
.prize-is {
  color: white;
}

.s-prize {
  color: white;
}

.sell_buttons {
  margin-top: 40px;
}

.sellNow_button,
.transfer_button {
  padding: 15px 30px !important;
  border-radius: 10px !important;
  border: 2px solid white;
  width: 110% !important;
  margin: 10px 0px !important;
}

.sellNow_button {
  background-color: blueviolet !important ;
}

.transfer_button {
  background-color: #59f9b7 !important;
}

.sellNow_button a,
.transfer_button a {
  text-decoration: none;
  color: black;
  font-weight: 650;

  font-size: 1rem;
}

.sell_buttons button a:hover {
  color: #fff;
}
