.hero_section {
  margin-top: 120px;
}

.hero_content h2 {
  line-height: 60px;
  font-size: 2.5rem;
}

.hero_content h2 span {
  color: rgb(177, 97, 253);
  display: inline-block;
}

.hero_buttons {
  margin-top: 40px;
}

.explore_button,
.create_button {
  padding: 15px 30px !important;
  border-radius: 50px !important;
}

.explore_button {
  background-color: #ff0266 !important ;
}

.create_button {
  background-color: #03dac6 !important;
}

.explore_button i,
.create_button i {
  font-size: 1rem;
}

.explore_button a,
.create_button a {
  text-decoration: none;
  color: black;
  font-weight: 650;

  font-size: 1rem;
}

.hero_buttons button a:hover {
  color: #fff;
}

.hero_image {
  width: 500px;
}
.home_image img {
  width: 70%;
  border-radius: 10px;
  border: 2px solid rebeccapurple;
  margin-left: 40px;
  aspect-ratio: 1 / 1;
}

@media only screen and (max-width: 992px) {
  .hero_section {
    margin-top: 90px;
  }

  .hero_content h2 {
    font-size: 1.5rem;
    line-height: 40px;
  }

  .hero_content p {
    font-size: 0.8rem;
    line-height: 25px;
  }

  .create_button,
  .explore_button {
    padding: 4px 25px !important;
  }

  .create_button a,
  .explore_button a {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 576px) {
  .home_image {
    width: 100%;
    margin: auto;
    margin-top: 50px;
  }
}
